<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>loader.JdbcClassLoader</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>servlets.index.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register servlet</servlet-name>
        <servlet-class>servlets.register.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConctactUsServlet</servlet-name>
        <servlet-class>servlets.contactUS.ConctactUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>servlets.cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>servlets.shop.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>servlets.product.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.logout.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>servlets.result.ResultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addObjectServlet</servlet-name>
        <servlet-class>servlets.addObject.AddObjectServlet</servlet-class>
        <init-param>
            <param-name>uploadDir</param-name>
            <param-value>/tmp</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AddAnomaly</servlet-name>
        <servlet-class>servlets.addAnomaly.AddAnomalyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReview</servlet-name>
        <servlet-class>servlets.addReview.AddReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>servlets.modify.servlet.ModifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>servlets.pay.PayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recover</servlet-name>
        <servlet-class>servlets.recover.recoverPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetServlet</servlet-name>
        <servlet-class>servlets.resetpass.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyOrders</servlet-name>
        <servlet-class>servlets.myOrders.MyOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notify</servlet-name>
        <servlet-class>servlets.notify.NotifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resolve</servlet-name>
        <servlet-class>servlets.resolveAnomaly.ResolveAnomalyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirm</servlet-name>
        <servlet-class>servlets.register.ComfirmRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateReadReview</servlet-name>
        <servlet-class>servlets.readReviews.updateReadReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadImage</servlet-name>
        <servlet-class>servlets.loadImage.loadImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyServlet</servlet-name>
        <servlet-class>servlets.modify.servlet.ModifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TextMailSenderServlet</servlet-name>
        <servlet-class>servlets.mailSender.TextMailSenderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConctactUsServlet</servlet-name>
        <url-pattern>/conctactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addObjectServlet</servlet-name>
        <url-pattern>/addObject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnomaly</servlet-name>
        <url-pattern>/addAnomaly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReview</servlet-name>
        <url-pattern>/addReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>recover</servlet-name>
        <url-pattern>/recover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notify</servlet-name>
        <url-pattern>/notify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resolve</servlet-name>
        <url-pattern>/resolve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirm</servlet-name>
        <url-pattern>/confirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateReadReview</servlet-name>
        <url-pattern>/readReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyOrders</servlet-name>
        <url-pattern>/myOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register servlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/UserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyServlet</servlet-name>
        <url-pattern>/ModifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadImage</servlet-name>
        <url-pattern>/loadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TextMailSenderServlet</servlet-name>
        <url-pattern>/sendEmail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
